{
    "overrides": [
        {
            "files": [
                "*.ts",
                "*.tsx",
                "*.js"
            ],
            "options": {
                "printWidth": 130,
                "tabWidth": 4,
                "semi": true,
                "singleQuote": false,
                "bracketSpacing": true,
                "bracketSameLine": true,
                "arrowParens": "always",
                "insertPragma": true,
                "endOfLine": "lf",
                "proseWrap": "preserve",
                "trailingComma": "all",
                "requirePragma": true
            }
        },
        {
            "files": [
                "*.json",
                "*.tyj"
            ],
            "options": {
                "tabWidth": 4,
                "semi": true,
                "singleQuote": false,
                "bracketSpacing": true,
                "bracketSameLine": false,
                "insertPragma": true,
                "endOfLine": "lf",
                "proseWrap": "always",
                "trailingComma": "all"
            }
        }
    ]
}